name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lua Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Lua + LuaRocks + Luacheck
        run: |
          sudo apt update
          sudo apt install lua5.1 luarocks -y
          sudo luarocks install luacheck

      - name: Run Lua linter
        run: luacheck . || true
